<div class="container">

  <div class="row">
    <div class="col-md-6 px-2" id="quoteDisplay">
      <div *ngFor="let quote of quotes;let i = index">
        <div class="displayArea my-3 px-2">
          <div class="QuoteDetails">
            <p class="quote">"{{ quote.quote }}"</p>
            <div class="QuoteDetails">
              <p class="authorName">Author: {{ quote.author }}</p>
            
            </div>
            <button class="btn btn-outline-warning QuoteDetails" (click)="toggleDetails(i)">Toggle Details</button>
          </div>

          <div *ngIf="quote.showDescription">
            <app-quote-details [quote]='quote' (toDelete)="quoteDelete($event, i)"></app-quote-details>
        </div>  

        </div>

      </div>

    </div>

    <div class="col-md-6" id="right">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  

  </div>

  <!-- <div class="col-md-6" id="right">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div> -->


</div>



